/* CSS RESET ------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --bg-color: #1e2932;
    --darker-bg-color: #090c0f;
    --transparent-darker-bg-color: #090c0f29;
    --yellow: #e5b447;
    --darker-yellow: #735a24;
    --cyan: #6bbfbc;
    --darker-cyan: #36605e;
    --gray: #aebec8;
    --darker-gray: #728694;
    --gunmetal: #263540;
    --darker-gunmetal: #15202a;
    --round-result-bg: #263540;

    /* BORDER RADIUS */
    --base-border-radius: 1rem;
    --medium-border-radius: 1.5rem;
}

/* FONT FACES ------------------------------------------------------ */
/* outfit-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/outfit-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/outfit-v11-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GENERAL STYLING ------------------------------------------------- */
html {
    font-size: 62.5%;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    color: var(--darker-bg-color);
    background-color: var(--bg-color);
}

main {
    width: 100%;
    padding: 0 4.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.btn {
    background: none;
    font: inherit;
    color: inherit;
    padding: 0;
    border: none;
    cursor: pointer;
    text-transform: inherit;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
}

/* NEW GAME MENU SECTION ------------------------------------------- */
.new-game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
}

.logo-img {
    width: 7.4rem;
}

.player-selection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 2.4rem;
    background-color: var(--gunmetal);
    border-radius: var(--base-border-radius);
}

.player-selection-title {
    font-size: 1.4rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
    color: var(--gray);
}

.mark-selection-container {
    width: 100%;
    display: flex;
    gap: 0.8rem;
    padding: 1.2rem;
    background-color: var(--darker-gunmetal);
    border-radius: var(--base-border-radius);
}

.mark-selection-container button {
    width: 50%;
}

.mark-selection-btn {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: var(--base-border-radius);
}

.mark-selection-btn.selected-mark {
    background-color: var(--gray);
}

.x-selection-img,
.o-selection-img {
    width: 2.4rem;
}

.remember-text {
    font-size: 1.2rem;
    color: var(--darker-gray);
}

.new-game-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.ngvs-cpu-btn {
    background-color: var(--yellow);
    border-bottom: 0.65rem solid var(--darker-yellow);
}

.ngvs-player-btn {
    background-color: var(--cyan);
    border-bottom: 0.65rem solid var(--darker-cyan);
}

.ngvs-cpu-btn > span,
.ngvs-player-btn > span {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
}

.ngvs-cpu-btn,
.ngvs-player-btn {
    padding: 1.6rem;
    border-radius: var(--medium-border-radius);
}

/* MAIN GAME WINDOW SECTION ---------------------------------------- */

.main-game {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.game-header-container {
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    justify-items: center;
    align-items: center;
    column-gap: 1.6rem;
}

.current-player-turn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--gray);
    padding: 1.2rem;
    background-color: var(--gunmetal);
    border-radius: var(--base-border-radius);
    border-bottom: 0.35rem solid var(--darker-gunmetal);
}

.restart-game-btn {
    padding: 0.8rem;
    background-color: var(--gray);
    border-radius: var(--base-border-radius);
    border-bottom: 0.35rem solid var(--darker-gray);
}

.current-player-img,
.restart-icon {
    width: 2.4rem;
}

.ui-game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    grid-template-rows: repeat(3, 14rem);
    gap: 1.6rem;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gunmetal);
    border-radius: var(--base-border-radius);
    box-shadow: inset 0 -0.65rem 0 0 var(--darker-gunmetal);
}

.board-cell.x-winner {
    background-color: var(--cyan);
}

.board-cell.o-winner {
    background-color: var(--yellow);
}

.current-player-mark {
    width: 8.6rem;
    opacity: 0;
}

.board-cell.pressed > .current-player-mark {
    opacity: 1;
}

.board-cell:hover,
.board-cell:focus {
    .current-player-mark {
        opacity: 1;
    }
}

.game-results-history {
    display: grid;
    grid-template-columns: repeat(3, 14rem);
    justify-items: center;
    column-gap: 1.6rem;
}

.game-results-history > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 1.6rem;
    border-radius: var(--base-border-radius);
    /* -webkit-user-select: none;
    user-select: none; */
}

.game-results-left {
    background-color: var(--cyan);
}

.game-results-middle {
    background-color: var(--gray);
}

.game-results-right {
    background-color: var(--yellow);
}

.result-title {
    font-size: 1.4rem;
}

.result-score {
    font-weight: 800;
    font-size: 2.4rem;
}

/* ROUND RESULT WINDOWS -------------------------------------------- */
/* GENERAL */
.p1-round-result-window,
.p2-round-result-window,
.cpu-win-round-result-window,
.cpu-loss-round-result-window,
.tied-round-window,
.restart-round-window {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    padding: 4.8rem 0;
    background-color: var(--round-result-bg);
    z-index: 10;
}

.winner-player-text {
    color: var(--gray);
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
}

.winner-mark-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.winner-mark-img {
    width: 6.2rem;
}

.winner-mark-text {
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
    color: var(--gray);
}

.action-buttons-container {
    display: flex;
    gap: 1.6rem;
}

.quit-btn {
    background-color: var(--gray);
    border-bottom: 0.35rem solid var(--darker-gray);
    border-radius: var(--base-border-radius);
}

.next-round-btn {
    background-color: var(--yellow);
    border-bottom: 0.35rem solid var(--darker-yellow);
    border-radius: var(--base-border-radius);
}

.quit-btn,
.next-round-btn {
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
}

/* X MARK font color */
.cyan-font-color {
    color: var(--cyan);
}

/* O MARK font color */
.yellow-font-color {
    color: var(--yellow);
}

/* FOR TIED AND RESTART WINDOWS --- */
.tied-round-window,
.restart-round-window {
    padding: 6.4rem 0;
}

.window-main-text {
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 0.125rem;
    color: var(--gray);
}
/* --- */

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--transparent-darker-bg-color);
    backdrop-filter: blur(0.1rem);
    z-index: 5;
}

/*
--SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.hidden {
    display: none;
}
